* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: coral;
}

header, main, footer {
    width: 320px;
    margin: auto;
    padding: 5px 0;
    text-align: center;
    color: white;
    overflow: hidden;
}


#tabuleiro {
    width: 320px;
    margin: 10px auto;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 106.5px);
    grid-template-rows: repeat(3, 106px);
}

.celula {
    border: 1px solid black;
    font-size: 80px;
    color: black;
    text-align: center;
}

.vencedor {
    background-color: dimgray;
    color: red;
}

.celula:active {
    background-color: lightgray;
}

#reiniciar {
    border: 1px solid lightblue;
    border-radius: 5px;
    background-color: dodgerblue;
    color: white;
    margin-top: 50px;
    padding: 10px;
    width: 160px;
}

#reiniciar:active {
    border: 1px solid blue;
    background-color: navy;
}

footer p {
    font-size: .7em;
}

